/* Global Styles */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.success-snackbar {
  background-color: #4caf50 !important;
  color: white !important;
}

.error-snackbar {
  background-color: #f44336 !important;
  color: white !important;
}

/* Material Overrides */
.mat-mdc-dialog-container {
  background-color: white;
}

.mat-mdc-form-field {
  width: 100%;
}

.mat-mdc-select {
  width: 100%;
}
